@font-face {
    font-family: 'Ubuntu Light';
    src: url('./Ubuntu-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  /* Ubuntu Medium - Вес 500 */
  @font-face {
    font-family: 'Ubuntu Medium';
    src: url('./Ubuntu-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  /* Ubuntu Regular - Вес 400 */
  @font-face {
    font-family: 'Ubuntu Regular';
    src: url('./Ubuntu-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  /* Ubuntu Bold - Вес 700 */
  @font-face {
    font-family: 'Ubuntu Bold';
    src: url('./Ubuntu-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }